@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --bai-jamjuree: 'Bai Jamjuree', sans-serif;  
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--bai-jamjuree);
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  gap: 3rem;
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  display: grid;
  grid-template-areas: "page-1"
                       "page-2"
                       "page-3"
                       "page-4"
                       "page-5"
                       "page-6";
  grid-template-columns: minmax(250px, 300px);
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1.5rem;
}

.page-1 {
  grid-area: page-1;
}

.page-1 > img {
  width: 100px;
  margin-top: 10rem;
  
}

.page-1 > h1 {
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.page-1 > p {
  color: var(--grayish-blue);
  font-size: 1.4rem;
  line-height: 1.7;
  margin-bottom: 6rem;
}

button {
  width: 100%;
  padding: 1.5rem;
  border-radius: 30px;
  border: none;
  

}

.ios-button {
  margin-bottom: 2.5rem;
  background-color: var(--strong-cyan);
  color: white;
  font-family: var(--bai-jamjuree);
  box-shadow: 6px 6px 6px hsla(171, 66%, 44%, 0.2);
}

.mac-button {
  background-color: var(--light-blue);
  color: white;
  font-family: var(--bai-jamjuree);
  margin-bottom: 30rem;
  box-shadow: 4px 4px 15px 5px hsla(233, 100%, 69%, 0.2);
}

.page-2 {
  grid-area: page-2;
  margin-bottom: 10rem;
}

.page-2 > h2 {
  margin-bottom: 2rem;
}

.page-2 > p {
  color: var(--grayish-blue);
  font-size: 1.4rem;
  line-height: 1.7;
  margin-bottom: 5rem;
}

.page-2 > img {
  max-width: 260px;
  margin-bottom: 5rem
}

.pros-description > h4 {
  margin-bottom: 1rem;
}

.pros-description > p {
  color: var(--grayish-blue);
  font-size: 1.4rem;
  margin-bottom: 3rem;
  line-height: 1.7;
}

.page-3 {
  grid-area: page-3;
}

.page-3 > h3 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.page-3 > p {
  font-size: 1.4rem;
  color: var(--grayish-blue);
  line-height: 1.5;
  margin-bottom: 5rem;
}

.page-3 > img {
  margin-bottom: 6rem;
  max-width: 290px;
}

.page-3-workflow-header > h3 {
  margin-bottom: 1rem;
}

.page-3-workflow-header > p {
  color: var(--grayish-blue);
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 6rem;
}

.workflow-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

 .workflow-description > img {
  max-width: 35px;
  margin-bottom: 1.5rem;
}

.workflow-description > p {
  color: var(--grayish-blue);
  font-size: 1.4rem;
  line-height: 1.5;
}

.page-3 > .workflow-description:nth-child(7) {
  margin-bottom: 17rem;
}

.page-4 {
  display: flex;
  gap: 6rem;
  margin-bottom: 17rem;
}

.page-4 > img {
  max-width: 100px;
}

.page-5 > h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.page-5 > p {
  color: var(--grayish-blue);
  font-size: 1.41rem;
  line-height: 1.5;
  margin-bottom: 5rem;
}

.page-6 {
  gap: 2rem
}

.page-6 > img {
  width: 50px;
  margin-bottom: 2rem;
}

.page-6 > p {
  font-size: 1.1rem;
}

.page-6 > p:last-of-type {
  margin-bottom: 2rem;
}

.icon-container {
  display: flex;
  gap: 2.5rem;
}

.icon-container > img {
  width: 15px;
}





